<h3>
    Archive (all of your tasks)
</h3>
<!-- TASKS -->
<div ng-if="tasks.length > 0">
    <div>
        <ul>
            <li ng-repeat="task in tasks | orderBy:'dueDate'">
                <div>
                    <a class="btn btn-success btn-xs" ng-class="{'btn-success': task.done, 'btn-warning': !task.done}" ng-click="done(task)"><i class=" fa fa-check"></i></a>
                    <span>{{task.name}}</span>
                    <span ng-if="task.done">Done</span>
                    <span ng-if="!task.done">Undone</span>
                    <div>
                        <span>Due: {{task.dueDate | date : mediumDate}}</span>
                        <a class="btn btn-primary btn-xs" ng-href="#/edittask?id={{task.id}}&return=archive"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-danger btn-xs" ng-click="delete(task.id)"><i class="fa fa-trash-o"></i></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div>
        <a class="btn btn-success btn-sm pull-left" href="" data-toggle="modal" data-target="#myModal">Add New Task</a>
    </div>
</div>
<div ng-if="tasks.length === 0">
    <a class="btn btn-success btn-sm pull-left" data-toggle="modal" data-target="#myModal">Add New Task</a>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add task</h4>
            </div>
            <div class="modal-body">

                <form name="createTaskForm" novalidate>
                    Name: <input class="form-control" type="text" ng-model="createTask.name" required autofocus />

                    DueDate: <input class="form-control" type="date" ng-model="createTask.dueDate" required />

                    <button class="btn btn-primary" type="submit" ng-click="create()" ng-disabled="createTaskForm.$invalid" data-dismiss="modal">Create New Task</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>      