<div class="row">
    <div class="col-md-12">
        <div class="panel-heading">
            <div class="pull-left">
                <h5>Create new Task</h5>
            </div>
            <br>
        </div>
        <div class="panel-body">
            <div>
                <div>
                    <form name="createTaskForm" novalidate>
                        Name: <input class="form-control" type="text" ng-model="task.name" required autofocus />

                        DueDate: <input class="form-control" type="date" ng-model="task.dueDate" required />

                        <button class="btn btn-success" type="submit" ng-click="create()" ng-disabled="createTaskForm.$invalid">Create New Task</button>
                    </form>
                    <a class="btn btn-primary" href="#/nextweek">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>