<div class="row">
    <div class="col-md-12">
        <div class="panel-heading">
            <div class="pull-left">
                <h5>Edit Task</h5>
            </div>
            <br>
        </div>
        <div class="panel-body">
            <div>
                <div>
                    <form name="editTaskForm" novalidate>
                        Name: <input class="form-control" type="text" ng-model="task.name" required autofocus />

                        DueDate <input class="form-control" type="date" ng-model="task.dueDate" required />

                        <button class="btn btn-success" type="submit" ng-click="update()" ng-disabled="editTaskForm.$invalid">Save Changes</button>
                    </form>
                    <a class="btn btn-primary" href="#/today" ng-if="return === 'today'">Back</a>
                    <a class="btn btn-primary" href="#/archive" ng-if="return === 'archive'">Back</a>
                    <a class="btn btn-primary" href="#/nextweek" ng-if="return === 'nextweek'">Back</a>
                    <a class="btn btn-primary" href="#/today" ng-if="!return">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>