<h3>
    Tasks for Today ({{date | date : mediumDate}})
</h3>

<div ng-if="todaysTasks.length > 0">
    <ul>
        <li ng-repeat="task in todaysTasks | orderBy:'dueDate'">
            <div>
                <a class="btn btn-success btn-xs" ng-class="{'btn-success': task.done, 'btn-warning': !task.done}" ng-click="done(task)"><i class=" fa fa-check"></i></a>
                <span>{{task.name}}</span>
                <span ng-if="task.done">Done</span>
                <span ng-if="!task.done">Undone</span>
                <a class="btn btn-primary btn-xs" ng-href="#/edittask?id={{task.id}}&return=today"><i class="fa fa-pencil"></i></a>
            </div>
        </li>

    </ul>

    <div>
        <a class="btn btn-success btn-sm pull-left" data-toggle="modal" data-target="#myModal">Add New Task</a>
    </div>
</div>
<div ng-if="todaysTasks.length === 0">
    <a class="btn btn-success btn-sm pull-left" data-toggle="modal" data-target="#myModal">Add New Task</a>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add task</h4>
            </div>
            <div class="modal-body">

                <form name="createTaskForm" novalidate>
                    Name: <input class="form-control" type="text" ng-model="createTask.name" required autofocus />

                    DueDate: <input class="form-control" type="date" ng-model="createTask.dueDate" required />

                    <button class="btn btn-primary" type="submit" ng-click="create()" ng-disabled="createTaskForm.$invalid" data-dismiss="modal">Create New Task</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> 